{% extends 'base.html' %}
{% block content %}

<div class="card col-lg-6 col-sm-8 mx-auto">
    <div class="card-header">Login</div>
    <div class="card-body">
        <form method="post" id="login-form">
            {% csrf_token %}
            {% if form.errors %}
            <div class="alert alert-danger " role="alert">
                {{form.non_field_errors|first}}
            </div>
            {% endif %}
            <!-- Start from row no 1 -->
            <div class="row mb-3">
                <label class="col-sm-3 form-label">Username </label>
                <div class="col-sm-9">
                    <input type="text" {% if form.username.value != None %}
                        value="{{ form.username.value|stringformat:'s' }}" {% endif %} id="usernameInput"
                        class="form-control" placeholder="username" name="username" />
                </div>
            </div>
            <!-- End from row no 1 -->
            <!-- Start form row no 2 -->
            <div class="row mb-3">
                <label class="col-sm-3 form-label">Password </label>
                <div class="col-sm-9">
                    <input type="password" id="passwordInput" class="form-control" placeholder="password"
                        name="password" />
                </div>
            </div>
            <!-- End from row no 2 -->
            <div class="text-center mb-3">
                <a href="{% url 'password_reset' %}" class="text-primary">Forget Password?</a>
                <div class="text-end">
                    <button type="submit" class="btn btn-primary">
                        Login
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}