{% extends 'base.html' %}
{% block content %}
<div class="card col-lg-5 col-sm-8 mx-auto">
    <div class="card-header">Reset your password</div>
    <div class="card-body">
        <form method="post" id="confirm-reset-password-form">
            {% csrf_token %}
            <!-- Start from row no 1 -->
            <input type="password" id="passwordInput"
                class="form-control {% if form.errors.new_password1 %} is-invalid {% endif %}" placeholder="New password"
                name="new_password1" />
            {% if form.errors.new_password1 %} <span
                class='password invalid-feedback'>{{ form.errors.new_password1|first }}</span>{% endif %}
            <input type="password" class="mt-3 form-control {% if form.errors.new_password2 %} is-invalid {% endif %}" id="passwordConfirmInput" placeholder="Confirm password"
                name="new_password2" />
            {% if form.errors.new_password2 %} <span
                class='confirmPassword invalid-feedback'>{{ form.errors.new_password2|first }}</span>{% endif %}
            <!-- End from row no 1 -->
            <button type="submit" class="btn mt-3 w-100 btn-primary">
                Reset password
            </button>
        </form>
    </div>
</div>
{% endblock content %}
<!-- <input type="password" class="form-control {% if form.errors.password2 %} is-invalid {% endif %}"
                    id="confirmPasswordInput" placeholder="password" name="new_password2" autocomplete="new-password" />
                {% if form.errors.password2 %} <span
                    class='confirmPassword invalid-feedback'>{{ form.errors.password2|first }}</span>{% endif %} -->