{% extends 'base.html' %}
{% block content %}
<div class="card col-lg-5 col-sm-8 mx-auto">
    <div class="card-header">Reset Your Password</div>
    <div class="card-body">
        <form method="post" id="reset-password-form">
            {% csrf_token %}
            <!-- Start from row no 1 -->
            <div class="row mb-3">
                <label class="col-sm-3 form-label">Email </label>
                <div class="col-sm-9">
                <input type="email" id="emailInput" {% if form.email.value != None %} value="{{ form.email.value|stringformat:'s' }}"
                    {% endif %} class="form-control {% if form.errors.email %} is-invalid {% endif %}" placeholder="email address"
                    name="email" />
                {% if form.email.errors %} <span class='email1 invalid-feedback'>{{ form.errors.email|first }}</span>{% endif %}
                </div>
            </div>
            <!-- End from row no 1 -->
            <div class="text-end">
                <button type="submit" class="btn btn-primary">
                    Reset your password
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}