{% extends 'base.html' %}
{% block content %}
<div class="card col-lg-5 col-sm-8 mx-auto">
    <div class="card-header">Forget Your Password</div>
    <div class="card-body">
        <form method="post" id="forget-password-form">
            <!-- Start from row no 1 -->
            <div class="row mb-3">
                <label class="col-sm-3 form-label">Email </label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" placeholder="email" name="email" />
                </div>
            </div>
            <!-- End from row no 1 -->
            <div class="text-end">
                <button type="submit" class="btn btn-primary">
                    Forget your password
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}