<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container justify-content-between">
            <a class="navbar-brand" href="./index.html">Online Library Management System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse justify-content-end navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./Auth/login.html">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./Auth/register.html">Register</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            admin
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="./Profile/index.html">My Profile</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="./Dashboard/index.html">Dashboard</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>