{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-5 mb-5">
        <img src="{{ book.image.url }}" alt="{{ book.title }}" width="100%" height="500px" />
    </div>
    <div class="col-sm-7">
        <div class="row mb-4">
            <h5>{{ book.title }}</h5>
        </div>
        <div class="row mb-4">
            <div>
                {{ book.description }}
            </div>
        </div>
        <div class="row mb-4">
            <div>
                <strong>Available:</strong>
                <span class="text-muted">10</span>
            </div>
        </div>
        <div class="row mb-4">
            <div>
                <strong>Author:</strong>
                <span class="text-muted">{{ book.author }}</span>
            </div>
        </div>
        <div id="issue" class="row mb-4">
            {% if user.is_authenticated %}
            {% if not issued %}
            <a href="{% url 'books:book_issue' %}" data-id="{{ book.id }}" id="issue-btn"
                class="btn w-100 btn-secondary">
                Issue
            </a>
            {% else %}
            <p class="alert text-center alert-info">
                You already have an issue with this book
            </p>
            {% endif %}
            {% else %}
            <a href="{% url 'login' %}?next={{ request.get_full_path }}" class="btn w-100 btn-secondary">
                Login to issue
            </a>
            {% endif %}

        </div>
    </div>
</div>
{% endblock content%}