@import url("./bootstrap.min.css");
@import url("./all.min.css");
@import url("./dataTables.bootstrap5.min.css");

a {
    text-decoration: none;
}

.book-description {
    height: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
}